<ion-footer>
  <ion-toolbar>
    <div class="footer-content"
      style="display: flex; justify-content: space-between; align-items: center; padding: 10px;">
      <!-- Title -->
      <div class="title" style="font-size: 18px; font-weight: bold; color: #000000;">
        هشام للعقار الداخلة
      </div>

      <!-- Social Media Links -->
      <div class="source" style="display: flex; align-items: center;">
        <!-- Facebook Link -->
        <a href="https://web.facebook.com/profile.php?id=61560796961573&locale=ar_AR"
          style="display: flex; align-items: center; text-decoration: none; margin-right: 15px;">
          <ion-icon name="logo-facebook" style="font-size: 20px; color: #0054e9; margin-right: 5px;"></ion-icon>
          <ion-text class="text-[#0054e9]" style="color: #0054e9; font-size: 16px;">
            Facebook
          </ion-text>
        </a>

        <!-- YouTube Link -->
        <a href="https://www.youtube.com/@HichamEchchouabi" target="_blank"
          style="display: flex; align-items: center; text-decoration: none; margin-right: 15px;">
          <ion-icon name="logo-youtube" style="font-size: 20px; color: #FF0000; margin-right: 5px;"></ion-icon>
          <ion-text class="text-[#FF0000]" style="color: #FF0000; font-size: 16px;">
            YouTube
          </ion-text>
        </a>

        <!-- WhatsApp Link -->
        <a href="https://api.whatsapp.com/send?phone=212651168813" target="_blank"
          style="display: flex; align-items: center; text-decoration: none;">
          <ion-icon name="logo-whatsapp" style="font-size: 20px; color: #25D366; margin-right: 5px;"></ion-icon>
          <ion-text class="text-[#25D366]" style="color: #25D366; font-size: 16px;">
            WhatsApp
          </ion-text>
        </a>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>